$primary-color:  #FF9A51;
$primary-color-20:  #2554752a;

/** MainContent **/
$background-content: #ececec;

/** Navbar **/
$background-navbar: #ffffff;
$height-navbar: 40px;

/** Sidebar **/
$background-sidebar: #255475;
$width-sidebar: 240px;
