.container-menu-mobile {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 57px;
  right: 0;
  left: 0;
  

  flex-direction: column;
  overflow: auto;

  display: none;

  &.on {
    display: flex;
  }
}

.menu-header {
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;

  .menu-title {
    font-weight: 500;
    color: #ff9a51;
  }
}

.menu-mobile {
  color: gray;
  .menu-item {
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 3px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: gray;
    }

    &.active {
      font-weight: bold;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.096);
    }
  }
}
