@import './assets/scss/reset.scss';

.page-header-container {
  padding: 10px 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.page-header {
  display: flex;
  flex-direction: column;
  
  .title {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(99, 99, 99);
    margin-bottom: 5px;
  }
  .subtitle {
    font-size: 0.9em;
    color: rgb(138, 138, 138);
  }
}

.list {
  .row {
    padding: 15px;
    background: white;
    border: 1px solid #ececec;
    border-radius: 3px;
    margin-bottom: 4px;
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .title {
        padding-bottom: 5px;
        font-size: 1em;
      }

      .secondary-text {
        padding: 3px 0;
        font-size: 0.8em;
        color: rgb(129, 129, 129);
      }
    }

    .actions {
      display: flex;
      align-items: center;
    }
  }
}

.add-button {
  position: fixed !important;
  bottom: 65px;
  right: 10px;
}

.search {
  padding: 20px 0;
  display: flex;
  align-items: center;
  .search-text {
    margin-right: 5px;
  }

  .search-input {
    flex-grow: 1;
  }
}

.section-form {
  margin-bottom: 10px;

  &.dashed {
    border: 1px dashed #e2e2e2;
    padding: 15px;
    border-radius: 3px;
    height: 100%;
  }
}

.row-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: flex-start;
  padding-bottom: 20px;

  &.collumns-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  &.collumns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.collumns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.collumns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.collumns-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  &.collumns-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .span-1-3 {
    grid-column: 1 / 3;
  }
  .span-1-4 {
    grid-column: 1 / 4;
  }
  .span-1-5 {
    grid-column: 1 / 5;
  }

  @media (max-width: 960px) {
    &.collumns-2,
    &.collumns-3,
    &.collumns-4,
    &.collumns-5,
    &.collumns-6 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title-section {
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  color: #656565;
}

.input-form {
  width: 100%;
}

.content-form {
  padding: 10px;
}

.form-actions {
  display: flex;
  align-items: flex-end;
  padding: 10px 0;
  justify-content: center;
}
